{% extends 'base.html' %}

{% block  title %}Home{% endblock title %} 

{% block body %} 

<div class="container-fluid my-3 px-0">
<div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/11.jfif" class="d-block " style="width:1400px;height:750px;">
        <div class="carousel-caption d-done d-md-block">
            <h5>Indian outfit</h5>
        </div>        
        </div>
        <div class="carousel-item">
            <img src="/static/33.jfif" class="d-block " style="width:1370px;height:750px;">
            <div class="carousel-caption d-done d-md-block">
                <h5>Best collection</h5>
            </div>
            </div>
     <div class="carousel-item">
            <img src="/static/4.jfif" class="d-block " style="width:1400px;height:750px;">
            <div class="carousel-caption d-done d-md-block">
                <h5>Latest collection</h5>
            </div>  
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
</div>    
</div>   

<div class="container my-3">
<h1 class="text-center"> Select your choice </h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/A.jfif" class="d-block" style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">"Lahnga" is a traditional Indian ethnic attire worn by women.
               This attire is especially popular in North India and is often worn during weddings, festivals, and special occasions.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/K.jfif" class="d-block" style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">Lehenga is essential part of traditional 
              Indian bridal wear and are worn by brides during their wedding ceremonies. 
              However, lehengas are also popular among women for other festive occasions and celebrations.</p>
              <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/C.jfif" class="d-block " style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">This blazer is fabricated with top-grade and durable material. 
              Made of fabric that holds its shape throughout the day, 
              lets you have no restriction and feel relaxed, offering an elevated look, it showcases a perfect fit.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/D.jfif" class="d-block " style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text"> A very elite and party wear look Front open shrug style blazer and
               pants. Perfect for formal business wear, evening wear, get togethers and parties.
               you could pair it with a stylish shirt to complete the look.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/E.jfif" class="d-block " style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">The design of sleeve is good coverage for thicker/flabby upper arms. The ruffle neck gives it a nice looks.
              this sweet and versatile floral top works for pretty much every occasion.
              This top looks breezy for hot days!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/F.jfif" class="d-block" style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">Boost your style with this Blazer from the quality
              This Co-ord Set will give you a trendy look with its beautiful design on this Festival, Wedding Seasons,
              Use it as casual or formal wear for office, college, family, meetings, etc.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/G.jfif" class="d-block " style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">Blazer with Unique Design for Girls and women comfort to wear in Winter.
              Just perfect for a day out with friends when you want to look fashion-focused while keeping a relaxed style.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/H.jfif" class="d-block" style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">Solid Color with Cotton Blend 
              fabric which allows air circulation and keeps you cool and fresh
              Just perfect for a day out with friends when you want to look fashion-focused while keeping a relaxed style. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/B.jfif" class="d-block " style="width:360px;height:380px;">
          <div class="card-body">
            <p class="card-text">Knee length nne Piece for women's western dress stylish and fashion design 
              make your style more attractive it is made of high quality materials soft hand feeling, 
              no any harm to your skin.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}